*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:linear-gradient(black , #333) ;
    min-height: 200vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.main{
    color: whitesmoke;
    font-size:1vh;
}
.main__h1{
    border-radius: 15px 15px 0 0;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 1rem;
    background-color: antiquewhite;
    color: #000;
    transition: 1s all;
}
@keyframes GOAT {
    0%{transform: scale(105%);}
    50%{transform: scale(110%);}
    100%{transform: scale(105%);}
}
.main__h1:hover{
    animation:  GOAT 1s infinite;
    background-color: rgba(250, 235, 215, 0.622);
}
.main__span:hover{
    transition: all 0.5s;
    color: whitesmoke;
    transform: scale(120%);
}
.down{
    display: none;
    flex-flow: column nowrap;
    gap: 1rem;
    font-size: 2rem;
    align-items: center;
    background-color: red;
    border-radius:  0 0 15px 15px ;
}
.down_item{
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 2px solid black;
}
.down_item:last-child{
    padding-bottom: 0.5rem;
}